.main{
    width: 860px;
    margin: 32px auto;
}
.categories{
    border: 1px solid black;
}
.sorting{
    display: inline-block;
    border: 1px solid black;
}

.navigate{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}